<p id="notice"><%= notice %></p>

<h1>Temas</h1>

<table>
  <thead>
    <tr>
      <th>Titulo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @temas.each do |tema| %>
      <tr>
        <td><%= link_to tema.titulo, tema %><td>
        <td><%= pluralize(tema.votes.count, "Voto") %></td>
        <td><%= button_to '+1', upvote_tema_path(tema), method: :post %></<td>
        <td><%= button_to '-1', downvote_tema_path(tema), method: :post %></<td>
        <td><%= link_to 'Eliminar', tema, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tema', new_tema_path %>
